@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&family=Poppins:wght@500&family=Roboto+Condensed:ital,wght@0,400;0,800;1,100&family=Roboto:wght@100&display=swap');

body {
    background-image: url(assets/backgroundimg.png);
   background-size: cover;
  }
  #logo{
    width: 100px;
    height: 20px;
  }
  #h1 {
    font-family: 'Kalnia';
    /* font-family: "Itim", cursive;
    font-family: "poppins", sans-serif; */
  }
  
  #img1 {
    width: 150px;
    height: 100px;
  }
  #word {
    color:rgb(64, 64, 128);
  }
  
  #img2 {
    width: 150px;
    height: 100px;
  }
  
  div {
    display: inline-block;
    margin: 10px;
  }
  #corner {
    text-align: right;
    color: rgb(97, 19, 97)
  }
